:local(.XMLEditor) {
  display: flex;
  flex: 1;
  flex-direction: row;
  overflow: auto;
}
:local(.XMLEditor) .content {
  flex: 1;
  position: relative;
}
:local(.XMLEditor) .CodeMirror {
  height: 100%;
  font-size: 13px;
}
