:local(.default) {
  height: calc(100vh);
  padding-top: 1em;
  border-radius: 0 !important;

  :global .card-header {
    box-shadow: none;
    padding: 0;

    .tab {
      margin-top: 0.5rem;
      font-size: 16px;

      .tab-item {
        padding: 0.5em 0;
        letter-spacing: 0.5px;
        .tab-trigger {
          text-transform: uppercase;
          text-align: left;
        }
      }

      .tab-item.active {
        box-shadow: 0 4px 0 0;
      }
    }

    .card-title {
      font-weight: 700;
      text-align: center;
      padding: 0 0.5rem;
      font-size: 0.8rem;

      .tile {
        box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.18);
        .tile-content {
          text-align: left;
        }
      }
    }
  }

  :global .card-body:last-child {
    box-shadow: inset 0px 4px 4px -2px rgba(0, 0, 0, 0.18);
    padding: 0 0 0 0;
    padding-bottom: 8rem;
    height: calc(100vh - (5em + 84px + 86.5px + 16px));
    overflow-y: scroll;

    > .form-group.field,
    .field-next {
      border-top: 1px solid;
      padding: 0.75em;
      margin-bottom: 0;
    }

    > .form-group.field.field-actions {
      padding: 0;
      .field.field-array.field-array-of-object {
        .field-header {
          background-color: #fff;
          padding: 0.75em;
          border-bottom: 1px solid;
          margin-bottom: 0;
        }
      }

      .action-item-container {
        h6 {
          margin: 0.5rem 0.8rem;
        }

        .action {
          border: 1px solid;
          border-radius: 0;
          margin: 0.5rem 0.8rem;
          box-shadow: none;

          .action-header {
            background-color: #fff;
            border-radius: 0;
            padding: 0.5rem 0.8rem;
            vertical-align: middle;
            position: relative;
            .btn.btn-link {
              position: absolute;
              right: 0.5em;
              top: 0.25em;
            }
          }

          .action-body {
            padding: 0.5rem 0.8rem;
          }
        }
      }

      .field-action {
        margin-bottom: 0;

        label.form-label {
          font-size: 0.65rem;
        }

        .logic {
          font-size: 0.8rem;
          font-weight: 500;
          padding-top: 2.25rem;
          padding-left: 0.5em;
        }
      }
    }

    .form-group.field.field-boolean {
      .form-label,
      .switch-widget {
        display: inline-block;
      }
      .switch-widget {
        float: right;
      }
    }
  }
}
