:local(.MultiSheetTab) {
  display: flex;
  flex-direction: column;
  flex: 1;
  border: none;
}
:local(.MultiSheetTab) .ui.segment,
:local(.MultiSheetTab) .content,
:local(.MultiSheetTab) .content > div {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
:local(.MultiSheetTab) .ui.segment {
  padding: 0;
}
