:local(.Loader) {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: white;
  z-index: 200;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.3;
  transition: opacity 0.5s;
}
:local(.Loader):not(.hidden) {
  opacity: 1;
}
:local(.Loader).hidden {
  opacity: 0;
  pointer-events: none;
}
:local(.Loader) > .logo {
  width: 50px;
  animation: pulsate 1s infinite;
}
