:local(.Toolbar) {
  position: fixed;
  right: 28px;
  top: 12px;
  z-index: 60;

  flex: none;

  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: flex-end;

  > * {
    margin: 2px 6px;
    display: block;
  }

  > * + .ui.button {
    margin-left: 0;
  }

  > .ui.button {
    margin-right: 0;
  }

  > .ui.dropdown, .ui.dropdown > .ui.button {
    margin: 0;
  }

  > .separator {
    background: #CCC;
    width: 1px;
    box-shadow: 0 0 1px #EEE;
    margin-top: 6px;
    margin-bottom: 6px;

    align-self: stretch;
  }
}
