:local(.WorkflowEditor) {
  height: 100%;
  display: flex;
  flex-direction: column;
}
:local(.WorkflowEditor) .tabs {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
:local(.WorkflowEditor) .main {
  flex-grow: 1;
}
