:local(.default) {
  height: 100%;
  :global .right-toolbar {
    position: absolute;
    right: 6em;
    z-index: 2000;
  }
}

:local(.meta) {
  padding: 3em 0;
  :global .ant-card.step-details > .ant-card-body {
    height: calc(100vh - (55px + 48px + 3em + 92px));
    overflow-y: auto;
  }
}
