:local(.edge) {
  stroke-width: 2px;
}

:local(.jump) {
  stroke-dasharray: 4, 2;
  stroke-width: 2px;
}

:local(.node) {
  fill-opacity: 1;
  transition: all 100ms ease-in-out;

  :global &.active {
    stroke-width: 6px;
    &:hover {
      fill-opacity: 0.25;
    }
  }

  &:hover {
    fill-opacity: 0.75;
  }
}

:local(.root) {

  :global g.label {
    display: none;
  }
}

