:local(.default) {
  margin-bottom: 0.5em;
  border: 1px solid #ffffff;
  border-radius: 0.5em;

  :global &.selected {
    box-shadow: 0 0 4px 2px;
  }

  :global .tile-icon {
    font-size: 1em;
    font-weight: 400;
    background-color: rgba(#ffffff, 0.85);
    padding: 0.5em 0.75em;
    box-shadow: 2px 0px 2px -1px rgba(0, 0, 0, 0.18);
    border-radius: 0.5em 0 0 0.5em;
    min-width: 38px;
    text-align: center;
    vertical-align: middle;
  }

  :global .tile-action {
    img {
      margin-left: 0.4rem;
      width: 26px;
      height: 26px;
      vertical-align: middle;
    }
  }

  :global .tile-content {
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    .tile-title {
      font-size: 0.75rem;
    }
    vertical-align: middle;
  }
}
