#login-layout {
  padding-top: 100px; }
  #login-layout > .grid {
    height: 100%; }
    #login-layout > .grid .column {
      max-width: 450px; }
  #login-layout .ui.inverted.dimmer {
    background-color: transparent !important; }
